
  <ul class="list-group">
    {{#each Comentarios}}

    <li class="list-group-item">
      {{comentario}} -----
        <img src=imagen/{{imagen}}>
      {{id_usuario}}

      <button  class="js-delComentario" value={{id_comentario}}>BORRAR</button>

    </li>
    {{/each}}

  </ul>
