
<table class="table table-bordered table-dark col-3">
  <thead>
  <tr>
    <th scope='col'>nombre_equipo</th>
    <th scope='col'>pos_tabla</th>
    <th scope='col'>clasificacion_copa</th>
  </tr>
</thead>
<tbody>
    <tr>
      {{#each Equipos}}
        <tr><td>{{nombre_equipo}}</td>
          <td>{{pos_tabla}}</td>
          <td>{{clasificacion_copa}}</td>
          <td><a href="borrar/{{id_equipo}}">BORRAR</a></td>
        </tr>
       {{/each}}
    </tr>

  </tbody>
</table>
